body{

  padding: 0;
  margin: 0;
  height: 1200px;
}
div {
  /*border: 1px solid black;*/
}
p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
h2 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;

}
.newsreal p {
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom: 1px solid black;
  padding: 5px 10px;
  margin: 0;
}
.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid black;
  font-size: 14px;
  font-family: verdana;
  font-weight: bold;
  color: MediumAquamarine;
  background-color: white;
  width: 100%;
  margin: 0;
  z-index: 2;
}
.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
}
.title {
  padding-left: 20px;
}
.navigation li{
  display: inline-block;
  padding: 20px 20px;
}

.container {
  position: absolute;
  padding-top: 75px;
  display: flex;
  flex-direction: row;
  height: auto;
  overflow-x: : scroll;
  background-color: white;

}
.leftcolumn {
  width: 630px;
  height: auto;
  padding: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;


}

.middlecolumn {
  width: 300px;
  padding: 10px;
  margin: 20px;
}

.rightcolumn {
  width: 240px;


  padding: 10px;
  margin: 20px;
}
.one{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 45px;
  font-weight: bold;
}
.three {
  display: flex;
  flex-direction: row;
}
.four {
  height: 250px;
  display: flex;
  flex-direction: row;
  color: white;
  font-weight: bold;
}
.fall {
  width: 315px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px;

}
.camera {
  width: 315px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
}
.cat {
  height: 200px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}
.cookie {
  background-position: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-news-bite.png");
  height: 150px;
}
.newsreal {

  background-color: WhiteSmoke;
  display: flex;
  flex-direction: column;

}
.footer {
  background-color: MediumAquamarine;
  padding-top: 1200px;
  width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

}
.footer p {
  font-family: Verdana;
  font-size: 12px;
}
.topfooter {
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.topfooter li {
  display: inline-block;
  padding-left: 10px;
}
.topfooter p {
  border-right: 2px solid white;
  padding-right: 20px;
  color: white;
  font-size: 16px;
  font-family: Georgia;
  font-weight: bold;
}
.bottomfooter {
  display: flex;

  justify-content: center;
}
